# Much of this comes from https://dev.to/marrouchi/the-challenge-about-ssl-in-docker-containers-no-one-talks-about-32gh

x-common:
  TIMEZONE: &timezone "${TZ}"

services:
  nginx:
    image: ghcr.io/anarchobooleanism/saphnet-nginx:latest@sha256:a7752ca17e5c0dc8f69e55c39a1f63b36e48962dd9320aa1341f7a313cc26eff
    ports:
      - "80:80"
      - "443:443"
    environment:
      TZ: *timezone
    volumes:
      # Main conf file
      - ${NGINX_PROXIES_FILE}:/etc/nginx/proxies.conf:ro
      # Certificate files
      - certbot-conf:/etc/letsencrypt:ro
    networks: # For connecting with other services directly
      - central-network
    restart: unless-stopped
  
  certbot:
    image: ghcr.io/anarchobooleanism/certbot-dns-namecheap:latest@sha256:2ab2e6c5f513bc5b83e64ecc86dd19b936b4b2ecc0336ca778934910bf79047e
    entrypoint: |
      /bin/sh -c 'trap exit TERM; while :; do certbot renew -vv; sleep 12h & wait $${!}; done;'
    environment:
      TZ: *timezone
    volumes:
      - certbot-conf:/etc/letsencrypt
      - ${NAMECHEAP_API_DETAILS_FILE}:/namecheap.ini
    # Renew certificates every 12 hours
    restart: unless-stopped

volumes:
  certbot-conf:
    name: certbot-conf
    external: true

networks:
  central-network:
    name: central-network
    external: true
